body{
    background-color: aquamarine;
    color: blue;
    text-align: center;
    background-image: url("./images/p1.jpg");
}

p{
    font-size: 20px;
    color: red;
    text-align: center;
}

#name{
    background-color: #00ff62;
}

#gender{
    background-color: blue;
}

.tcell{
    background-color: yellow;
}

.tg{
    background-color: green;
}

.tw{
    background-color: white;
}
